:root {
    --green: #23DC62;
    --darkBlue2: #151A24;
    --darkBlue1: #242B36;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: var(--darkBlue1);
    position: relative;
    letter-spacing: 0.01em;
}

div.container {
    max-width: 1320px;
    margin: auto;
    height: 100%;
    padding-left: 60px;
    padding-right: 60px;
}



h1 {
    font-size: 40px;
    font-family: 'Space Mono';
    line-height: 170%;
    margin-bottom: 10px;
}

h1>span.green {
    color: var(--green)
}

h3 {
    font-size: 24px;
    font-family: Space Mono;
    line-height: 170%;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 500;
}

.btn-sm {
    padding: 8px 22px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 1) !important;
}

/* .btn-success{
    background-color: var(--green);
    color: var(--darkBlue1);
} */

p {
    line-height: 175%;
}

p.description {
    margin-bottom: 40px;
}

p.description.mb-30 {
    margin-bottom: 30px;
}

.form-control {
    padding: 12px 16px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}


/* card */
.card-block {
    margin-bottom: 55px;
}

.card {
    background-color: transparent;
    border: none;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.15s ease;
}

.card:hover{
    transform: translateY(-5px);
}


.card-body {
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body-top {
    margin-bottom: 18px;
}

.card-title {
    font-size: 18px;
    font-weight: 500;
}

.card-text {
    font-size: 12.5px;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
}

.card .btn {
    display: flex;
    justify-content: center;
    font-size: 13px;
}

.card-tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 13px;
    flex-wrap: wrap;
}

.card-tag {
    display: inline;
    border-radius: 20px;
    background-color: white;
    color: var(--darkBlue2);
    padding: 2px 8px;
}

/* multi */
.mywork-section__container,
.resume-section__container,
.contact-section__container {
    height: 100%;
    padding: 70px 0 120px 0;
}

/* nav */



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255) !important;
}

.navbar {
    position: fixed;
    z-index: 10000;
    width: 100%;
    backdrop-filter: blur(2px);
    padding-left: 0;
    padding-right: 0;
}

.navbar * {
    color: white !important;
}

.navbar__center .nav-link {
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.navbar__center .nav-link.active {
    border-bottom: 2px solid white;
}

.nav-link:hover {
    opacity: 80%;
}

.navbar-brand:hover {
    opacity: 90%;
}

.navbar-brand {
    transition: all 0.3s ease;
}

li.nav-item {
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-size: 32px;
    letter-spacing: -1.5px;
}

.navbar-brand>.navbar-brand__light {
    font-weight: 200;
}

.navbar__center {
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar__center>li {
    padding: 0 12px;
}


.navbar__right {
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 11px;
}

.navbar__right .nav-link {
    transition: all 0.3s ease;
}

.navbar__right>li {
    padding: 0 6px;
}

.navbar__right>li>a {
    display: flex;
    gap: 5px;
    align-items: center;
    line-height: 100%;
}

/* about section */
.about-section {
    /* height: 700px; */
}



.about-section__image {
    width: 100%;
    max-width: 350px;
}

.about-section__container {
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-section__left-block {
    max-width: 710px;
}

.about-section__btn:focus {
    box-shadow: none;
}

/* mywork section */
.mywork-section {
    background-color: var(--darkBlue2);
}

.my-work__tab .nav-pills {
    margin-bottom: 20px !important;
}

.my-work__tab .nav-link {
    color: white;
    padding: 5px 15px;
    border-radius: 40px;
    border: 1px solid #FFF;
    font-size: 12px;
    margin-bottom: 10px;
}

.my-work__tab .nav-link.active {
    background-color: white;
    color: var(--darkBlue2);
}

.my-work__tab .nav-link {
    margin-right: 16px;
}

.my-work__tab .tab-pane .row {}

.my-work__tab .tab-pane .row .col-4 {
    display: inline-block;
}

.my-work__tab .github-repo-svg {
    width: 13px;
}

.my-work__tab .github-repo-btn:hover .github-repo-svg {
    filter: brightness(0) saturate(100%) invert(6%) sepia(27%) saturate(1050%) hue-rotate(181deg) brightness(98%) contrast(90%);
    ;
}


/* resume section */
.resume-section {
    background-color: var(--darkBlue1);
}

.resume-section__container {
    text-align: center;
}

.resume-section__description {
    max-width: 600px;
    margin: auto;
}

.resume-section__block {
    margin-bottom: 20px;
}

.resume-section__subblock {
    margin: auto;
    margin-bottom: 10px;
    max-width: 600px;
}

.resume-section__subheading {
    color: var(--darkBlue1);
    background-color: white;
    display: inline-block;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 100%;
}

.resume-section__info-block {
    padding-bottom: 15px;
}

.resume-section__info-block p {
    margin-bottom: 6px;
}

.resume-info-block__heading {
    font-size: 14px;
    font-weight: 700;
}

.resume-info-block__subheading {
    font-size: 13px;
}

.resume-info-block__subheading.mb-10 {
    margin-bottom: 10px;
}

.resume-info-block__description {
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
}

.resume-info-block__cert a {
    color: white;
    text-decoration-color: transparent;
    transition: all 0.25s ease;
}

.resume-info-block__cert a:hover {
    text-decoration-color: white;
}

.btn-download-resume {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto;
    padding: 8px 16px;
    justify-content: center;
}

/* contact */

.send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.my-email-btn {
    padding: 5px 30px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.my-email-btn-link:hover {
    text-decoration: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-form .form-control {
    font-size: 15px;
}

.contact-section__msg {
    height: 220px !important;
}

.contact-form-submitted {
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 16px;
    align-self: center;
    width: 100%;
}

.contact__email-block {
    width: 100% !important;
}

.contact-form-block {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    min-height: 400px;
}

/* footer */
.footer-section {
    background-color: var(--darkBlue1);
}

.footer-section__container {
    padding: 10px 0;
    /* display: flex; */
    /* justify-content: space-between; */
}

.footer-text {
    /* float: right; */
    padding: 2px 0;
    font-size: 11px;
    font-family: Space Mono;
}

.footer-text-right {
    display: flex;
    justify-content: end;
}

.footer-text .green {
    color: var(--green);
}

#myWorkModal{
    z-index: 1000000;
    backdrop-filter: blur(2px);
}


#myWorkModal .modal-content{
    background-color: var(--darkBlue2);
}

#myWorkModal .close{
 color: #FFFFFF;
    text-shadow: none;
    opacity: 0.95;
    transition: all 0.2s ease;
}

#myWorkModal .close:hover{
       opacity: 0.8;
}
#myWorkModal .close:focus{
    outline: none;
}


.modal-header{
    border-bottom: 0px;
}

.modal-body{
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-footer{
    border-top: 0px;
    justify-content: center;
    padding-bottom: 1.5rem;
}
@media (max-width: 992px) {
    .navbar.navbar-expand-lg>.container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .navbar__center {
        margin-bottom: 25px;
        font-size: 15px;
    }

    .navbar__center .nav-item {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar__center .nav-link {
        padding-bottom: 3px;
        margin-bottom: 11px;
    }

    .navbar__right {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


}

@media (max-width: 768px) {



    .about-section__container {
        padding: 120px 0;
    }

    .contact__email-block {
        margin-top: 60px;
        justify-content: left !important;
        display: block !important;

    }

    .footer-text-right {
        justify-content: left !important;
    }



    @media (max-width: 576px) {

        div.container,
        .navbar.navbar-expand-lg>.container {
            padding-left: 30px;
            padding-right: 30px;
        }


        .mywork-section__container,
        .resume-section__container,
        .contact-section__container {
            height: 100%;
            padding: 60 px 0 90px 0;
        }

        .about-section__btn,
        .btn-download-resume,
        .send-btn,
        .my-email-btn {
            width: 100%;
        }

        .check-my-work-btn {
            margin-bottom: 10px;
        }
    }
}